# NOTE: Rename this file to '.env' to enable it's use. It then gets pulled in by docker-compose.

##################
# General Settings
##################

# Used to create a prefix for the docker containers
CONTAINER_NAME_BASE=taiga-docker

# Debugging options
DEBUG=false
TEMPLATE_DEBUG=false

# Hostname for Taiga
TAIGA_HOSTNAME=192.168.1.2
TAIGA_SSL_BY_REVERSE_PROXY=True

# Allow public registration
PUBLIC_REGISTER_ENABLED=true

# Domains allowed to register/login
# Set to blank or comment out to allow all domains. Comma seperate if needed.
ALLOWED_REGISTER_DOMAINS=yourdomain.com,yourdomain.org

# Set to 'true' to enable websockets
TAIGA_EVENTS_ENABLE=true

##################
# Enable Plugins
##################
SLACK_ENABLED=false

##################
# LDAP Settings
##################
LDAP_ENABLED=true

LDAP_USE_SSL=false

LDAP_START_TLS=false

LDAP_HOST=ldap-server
LDAP_PORT=389

LDAP_BIND_DN=dn-for-bind-user
LDAP_BIND_PW=pw-for-bind-user
LDAP_SEARCH_BASE=account-search-base

LDAP_ALLOW_NON_LDAP_LOGIN=true

# Set LDAP attributes here for username, email, and user full name
LDAP_ATTR_USERNAME=sAMAccountName
LDAP_ATTR_EMAIL=mail
LDAP_ATTR_FULLNAME=displayname

# Typical AD field key - ymmv
# sAMAccountName     username   jdoe
# mail               email      jdoe@example.com
# displayname        full name  John Doe


##################
# Email Settings
##################
TAIGA_ENABLE_EMAIL=true
TAIGA_EMAIL_FROM=Taiga <noreply@yourdomain.com>
TAIGA_EMAIL_NOTIFICATIONS_INTERVAL=300
TAIGA_EMAIL_USE_TLS=true
TAIGA_EMAIL_HOST=smtp.yourmailvendor.com
TAIGA_EMAIL_PORT=587
TAIGA_EMAIL_USER=taiga-email@yourmail.com
TAIGA_EMAIL_PASS=123456789123456789

##################
# Change to a random string!
##################
TAIGA_SECRET_KEY=!!changeme!!KecjaxEkHiwuphOupOckNevcod

##################
# Events / Websockets Backend
##################
# Shouldn't need to change these

EVENT_HOST=rabbit
EVENT_VPORT=taiga
EVENT_USER=guest
EVENT_PW=guest
EVENT_PORT=80
EVENT_RABBITPORT=5672
